<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>作者列表</title>
    <style>
        #add {
            color: white;
        }

        #d1 {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-primary" id="d1">
        <div class="panel-heading text-center">
            作者列表界面
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>编号</th>
                <th>作者编号</th>
                <th>作者名称</th>
                <th>作品</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for author in author_list %}
                <tbody>
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ author.aid }}</td>
                    <td>{{ author.aname }}</td>
                    <td>
                        {% for book in author.book.all %}
                            {{ book.bname }}|
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a id="add" href="/add_author/">添加</a>
                        </button>
                        <button type="button" class="btn btn-primary">
                            <a id="add" href="/delete_author/?aid={{ author.aid }}">删除</a>
                        </button>
                        <button type="button" class="btn btn-primary">
                            <a id="add" href="/edit_author/?aid={{ author.aid }}">编辑</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>