<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    在线使用bootstrap请在html中添加如下3行操作
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>图书列表</title>
</head>
<body>
    <h1 align="center">图书列表</h1>
    <table border="1" align="center">
        <tr >
            <td colspan="4" align="right">
                <a href="/add_book/" >添加图书</a>
            </td>
        </tr>
        <tr>
            <th>图书编号</th>
            <th>图书名称</th>
            <th>出版社名称</th>
            <th>操作</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td>{{ book.bid }}</td>
            <td>{{ book.bname }}</td>
            <td>{{ book.publisher.pname }}</td>
            <td>
                <a href="/delete_book/?bid={{ book.bid }}">删除</a>
                <a href="/edit_book/?bid={{ book.bid }}">编辑</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>