<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>图书管理系统</title>
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">图书管理系统</div>
        <table class="table">
            <thead>
            <tr>
                <th><a href="/book_list/">图书管理</a></th>
            </tr>
            <tr>
               <th><a href="/publisher_list/">出版社管理</a></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>