<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>图书管理系统</title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">欢迎来到图书管理系统</div>
    <div class="panel-body row">
        <div class="col-md-6">
            <label>图书管理</label>
        </div>
        <div class="col-md-6">
            <label>出版社管理</label>
        </div>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>