<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>出版社列表</title>
    <style>
        #add {
            color: white;
        }
        #d1{
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-primary" id="d1">
        <div class="panel-heading text-center">出版社列表界面</div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>编号</th>
                <th>出版社ID</th>
                <th>出版社名称</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for publisher in publisher_list %}
                <tbody>
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ publisher.pid }}</td>
                    <td>{{ publisher.pname }}</td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a id="add" href="/add_publisher/">添加</a>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <a id="add" href="/delete_publisher/?pid={{ publisher.pid }}">删除</a>
                        </button>
                        <button type="button" class="btn btn-primary">
                            <a id="add" href="/edit_publisher/?pid={{ publisher.pid }}">编辑</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>